body {
  background: black;
  padding: 3vw;
}

body.mainpage {
  padding: 0;
}

.homepagedivs1 {
  height: 43.5vw;
  width: 23vw;
  border: 2px solid #d4af37;
  background-image: url("king\ tut\ in\ mummy.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homepagedivs1:hover {
  scale: 1.05;
  transition: all .5s ease;
  animation-direction: reverse;
}

.homepagedivs2 {
  height: 43.5vw;
  width: 23vw;
  border: 2px solid #d4af37;
  background-image: url("https://img.freepik.com/premium-photo/close-up-golden-pyramid-with-black-background-generative-ai_899870-37946.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.homepagedivs2:hover {
  scale: 1.05;
  transition: all .5s ease;
  animation-direction: reverse;
}

.homepagedivs3 {
  height: 43.5vw;
  width: 23vw;
  border: 2px solid #d4af37;
  background-image: url("the\ fame\ img\ 2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.homepagedivs3:hover {
  scale: 1.05;
  transition: all .5s ease;
  animation-direction: reverse;
}

.containerofhomepagedivs {
  justify-content: space-around;
}

.bg-hero-image {
  background: url(Egyptian-Hieroglyph-Background-Graphics-73674352-1.png);
}

.myborder {
  border: 2px solid #d4af37;
}

.mybordertop {
  border-top: 2px solid #d4af37;
}


.ancientfont {
  font-family: 'Rock Salt', cursive;
}

.ancientfontheader {
  font-family: 'Rock Salt', cursive;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.paragraphfont {
  font-family: 'Open Sans', sans-serif;
}

/* https://fonts.google.com/specimen/Caesar+Dressing */

.verticalcenter {
  text-align: center;
}



